<h1>社員情報</h1>
<div id="personaldetails" style="margin-bottom:26px;">
    <div style="margin-top: 10px;" class="oj-flex">
        <div class="oj-flex-item oj-sm-4 oj-md-1 oj-lg-1">
            <label for="employeeCode" class="oj-label">社員番号</label>
            <label for="employeeName" class="oj-label">社員名</label>
            <label for="belongName" class="oj-label">所属名</label>
        </div>
        <div class="oj-flex-item oj-sm-8 oj-md-4 oj-lg-3">
            <div id="employeeCode" class="oj-label" data-bind="text: employee.employeeCode"></div>
            <div id="employeeName" class="oj-label" data-bind="text: employee.employeeName"></div>
            <div id="belongName" class="oj-label" data-bind="text: employee.belongName"></div>
        </div>
        <div class="oj-flex-item oj-sm-4 oj-md-1 oj-lg-1">
            <label for="grade" class="oj-label">等格</label>
            <label for="jobTitle" class="oj-label">役職</label>
        </div>
        <div class="oj-flex-item oj-sm-8 oj-md-6 oj-lg-7">
            <div id="grade" class="oj-label" data-bind="text: employee.grade"></div>
            <div id="jobTitle" class="oj-label" data-bind="text: employee.jobTitle"></div>
        </div>
    </div>
    <div class="oj-web-applayout-navbar oj-sm-only-hide oj-web-applayout-max-width oj-navigationlist-item-dividers oj-md-condense oj-md-justify-content-flex-end oj-lg-justify-content-flex-end"
        data-bind="ojComponent:{
                        component: 'ojNavigationList',
                        selection: 'examEdu',
                        edge: 'top'}" >
        <ul>
            <li id="examEdu" style="{min-height: inherit;}">
                <a href="#" data-bind="click: function(data, event){tabClickHandler('exam')}">資格・教育</a>
            </li>
            <li role="separator" class="oj-navigationlist-divider" style="{min-height: inherit;}"></li>
            <li id="inventory" style="{min-height: inherit;}">
                <a href="#" data-bind="click: function(data, event){tabClickHandler('inventory')}">スキルズインベントリ</a>
            </li>
            <li role="separator" class="oj-navigationlist-divider" style="{min-height: inherit;}"></li>
            <li id="career" style="{min-height: inherit;}">
                <a href="#" data-bind="click: function(data, event){tabClickHandler('career')}">業務経歴</a>
            </li>
        </ul>
    </div>
    <div id="categoryDetailsArea" class="oj-flex-item oj-sm-12 oj-lg-12">
        <div class="oj-flex-item oj-sm-12">
            <div class="oj-panel" style="height: 500px; margin-top: 10px;">
                <div data-bind="template: detailsContentTemplate()"></div>
            </div>
        </div>
    </div>
</div>
