<h1>社員一覧</h1>
<div class="oj-flex">
    <div class="oj-flex-items oj-sm-12 oj-md-6">
        <label for="employeeCode" class="oj-label-inline">社員番号</label>
        <input id="employeeCode" aria-label="search box" placeholder="search" 
            data-bind="value: codeSearch, valueUpdate: 'afterkeydown', 
            ojComponent: {component: 'ojInputText'}"/>
    </div>
    <div class="oj-flex-items oj-sm-12 oj-md-6">
        <label for="employeeName" class="oj-label-inline">社員名</label>
        <input id="employeeName" aria-label="search box" placeholder="search" 
            data-bind="value: nameSearch, valueUpdate: 'afterkeydown', 
            ojComponent: {component: 'ojInputText'}"/>
    </div>
</div>
<div id="employeeListView">
    <div class="oj-flex oj-flex-items-pad">
        <table id="listview"
            data-bind="ojComponent: {component: 'ojTable',
            data: dataSource,
            columns: [{headerText: '社員番号', 
                        field: 'employeeCode'},
                        {headerText: '社員名', 
                        field: 'employeeName'},
                        {headerText: '所属名', 
                        field: 'belongName'}],
            selectionMode: 'single',
            rootAttributes: {style: 'width:100%;height:400px;overflow:auto'},
            rowTemplate: 'row_template',
            scrollPolicy: 'loadMoreOnScroll',
            scrollPolicyOptions: {fetchSize: 10}}">
        </table>
    </div>
</div>

<script id="row_template" type="text/html">
    <tr>
        <td data-bind="text: employeeCode, click: function(data, event){$root.showEmployee(employeeCode,data,event)}"></td>
        <td data-bind="text: employeeName, click: function(data, event){$root.showEmployee(employeeCode,data,event)}"></td>
        <td data-bind="text: belongName, click: function(data, event){$root.showEmployee(employeeCode,data,event)}"></td>
    </tr>
</script>
