<h1>システムエラー</h1>
<div class="oj-messaging-inline-container">
    <div class="oj-message oj-message-error">
        <span class="oj-component-icon oj-message-status-icon oj-message-error-icon" title="Error" role="img"></span>
        <span class="oj-message-content">
            <div class="oj-message-summary">予期せぬエラーが発生しました<br/>
            しばらく時間をおいてから再度アクセスしてください</div>
            <div class="oj-message-detail">
                <span data-bind="text: errorMessage"></span>
            </div>
        </span>
    </div>
</div>
