<h1>資格検索</h1>
<div>
    <label for="examName" class="oj-label-inline">資格名称</label>
    <input id="examName" aria-label="search box" placeholder="search" 
        data-bind="value: nameSearch, valueUpdate: 'afterkeydown', 
        ojComponent: {component: 'ojInputText'}"/>
</div>
<div id="examListView">
    <div class="oj-flex oj-flex-items-pad">
        <ul id="listview"
            data-bind="ojComponent: {component: 'ojListView',
            data: dataSource,
            item: {template: 'examlist_template'},
            selectionMode: 'single',
            rootAttributes: {style: 'width:100%;height:400px;overflow:auto'},
            scrollPolicy: 'auto'}">
        </ul>
    </div>
</div>

<script id="examlist_template" type="text/html">
    <li data-bind="click: function(data, event){$root.showEmployeeList(data,event)}">
        <div data-bind="text: $data['examName']"></div>
        <div data-bind="text: $data['examGroup']" 
            style="font-size: smaller"></div>
    </li>
</script>
