<h1>スキル検索</h1>
<div id="inventoryListView">
    <div class="oj-flex oj-flex-items-pad">
        <div id="daiListView" class="oj-md-3">
            <ul id="listview"
                data-bind="ojComponent: {component: 'ojListView',
                data: daiSource,
                item: {template: 'dai_template'},
                selectionMode: 'single',
                rootAttributes: {style: 'width:100%;height:74vh;overflow:auto'}}">
            </ul>
        </div>
        <div id="chuListView" class="oj-md-4">
            <ul id="listview"
                data-bind="ojComponent: {component: 'ojListView',
                data: chuSource,
                item: {template: 'chu_template'},
                selectionMode: 'single',
                rootAttributes: {style: 'width:100%;height:74vh;overflow:auto'}}">
            </ul>
        </div>
        <div id="shoListView" class="oj-md-4">
            <ul id="listview"
                data-bind="ojComponent: {component: 'ojListView',
                data: shoSource,
                item: {template: 'sho_template'},
                selectionMode: 'single',
                rootAttributes: {style: 'width:100%;height:74vh;overflow:auto'}}">
            </ul>
        </div>
        <div id="levelListView" class="oj-md-1">
            <ul id="listview"
                data-bind="ojComponent: {component: 'ojListView',
                data: levelSource,
                item: {template: 'level_template'},
                selectionMode: 'single',
                rootAttributes: {style: 'width:100%;height:74vh;overflow:auto'}}">
            </ul>
        </div>
    </div>
</div>

<script id="dai_template" type="text/html">
    <li data-bind="click: function(data, event){$parent.selectDaiList($data.daiName)}">
        <div data-bind="text: $data.daiName"></div>
    </li>
</script>
<script id="chu_template" type="text/html">
    <li data-bind="click: function(data, event){$parent.selectChuList($data.chuName)}">
        <div data-bind="text: $data.chuName"></div>
    </li>
</script><script id="sho_template" type="text/html">
    <li data-bind="click: function(data, event){$parent.selectShoList(data, event)}">
        <div data-bind="text: $data.shoName"></div>
    </li>
</script>
</script><script id="level_template" type="text/html">
    <li data-bind="click: function(data, event){$root.showEmployeeList(data, event)}">
        <div data-bind="text: $data.dispLevel"></div>
    </li>
</script>