<h1>社員検索</h1>
<div class="oj-flex">
    <div class="oj-flex-items oj-sm-12 oj-md-6">
        <label for="employeeCode" class="oj-label-inline">社員番号</label>
        <input id="employeeCode" aria-label="search box" placeholder="search" 
            data-bind="value: codeSearch, valueUpdate: 'afterkeydown', 
            ojComponent: {component: 'ojInputText'}"/>
    </div>
    <div class="oj-flex-items oj-sm-12 oj-md-6">
        <label for="employeeName" class="oj-label-inline">社員名</label>
        <input id="employeeName" aria-label="search box" placeholder="search" 
            data-bind="value: nameSearch, valueUpdate: 'afterkeydown', 
            ojComponent: {component: 'ojInputText'}"/>
    </div>
</div>
<div id="employeeListView">
    <div id='loading' data-bind="visible: isLoading()"><img src='css/images/gif-load.gif'></div>
    <div class="oj-flex oj-flex-items-pad">
        <table id="listview"
            data-bind="ojComponent: {component: 'ojTable',
            data: dataSource,
            columns: [{headerText: '社員番号'},
                        {headerText: '社員名'},
                        {headerText: '所属名'}],
            selectionMode: 'single',
            scrollPolicy: 'loadMoreOnScroll',
            rootAttributes: {style: 'width:100%;height:400px;overflow:auto'},
            rowTemplate: 'row_template'}">
        </table>
    </div>
</div>

<script id="row_template" type="text/html">
    <tr data-bind="click: function(data, event){$root.showEmployee(employeeCode,data,event)}">
        <td data-bind="text: employeeCode"></td>
        <td data-bind="text: employeeName"></td>
        <td data-bind="text: belongName"></td>
    </tr>
</script>
