<h2>業務経歴</h2>
<table data-bind="ojComponent: {component: 'ojTable', 
            data: careerData,
            columns: [
                {headerText: '期間'},
                {headerText: '業種'},
                {headerText: '業務名'},
                {headerText: 'OS'},
                {headerText: '言語'},
                {headerText: 'DB'}
            ],
            rowTemplate: 'row_template',
            rootAttributes: {'style':'width: 100%; height: 400px'}
        }">
</table>

<script id="row_template" type="text/html">
    <tr>
        <!-- ko if: $rowContext['depth'] == 1 -->
        <td>
            <div data-bind="ojComponent: {component: 'ojRowExpander', 
                context: $rowContext}"></div>
            <span data-bind="text: $parent.moment(startDate).format('YYYY/MM') 
                + ' ～ ' + $parent.moment(endDate).format('YYYY/MM')
                + ' (' + term + ')'"></span>
        </td>
        <td data-bind="text: industryType"></td>
        <td data-bind="text: workName"></td>
        <td data-bind="text: os"></td>
        <td data-bind="text: language"></td>
        <td data-bind="text: db"></td>
        <!-- /ko -->
        <!-- ko if: $rowContext['depth'] == 2 -->
        <td colspan="6" style="padding-left: 40px;">
            <div calss="oj-flex-items-pad" style="max-width: 100%; white-space:normal">
                <div class="oj-flex">
                    <div class="oj-flex-item oj-md-6">作業内容</div>
                    <div class="oj-flex-item oj-md-2">役割</div>
                    <div class="oj-flex-item oj-md-1">人数</div>
                    <div class="oj-flex-item oj-md-3">作業工程</div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item oj-md-6" data-bind="text: workOutline"></div>
                    <div class="oj-flex-item oj-md-2" data-bind="text: role"></div>
                    <div class="oj-flex-item oj-md-1" data-bind="text: projectCount"></div>
                    <div class="oj-flex-item oj-md-3" data-bind="foreach: phases">
                        <span data-bind="text: phaseName"></span>
                    </div>
                </div>
            </div>
        </td>
        <!-- /ko -->
    </tr>
</script>